@import 'variables';
@import './partial/buttons.scss';
@import './partial/tables.scss';

body#login {
  background-image: url('https://timvandijck.com/assets/img/station.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;

  form {
    padding: 2rem;
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    height: 100%;
  }
}

.navbar {
  background-color: $green;
  li.active, li:hover, li:focus, li:active {
    background-color: $darkGreen;
    margin: -8px 0;
    padding: 8px 0;
  }
  a {
    color: #fff;
  }
}