@import 'variables';
@import './partial/buttons.scss';

body#login {
  background-image: url('https://timvandijck.com/assets/img/station.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;

  form {
    padding: 2rem;
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    height: 100%;
  }
}