.btn {
  border-radius: 0;
}

.btn-green {
  background-color: #438c41;
  border-color: #438c41;
  color: #fff;
}

a > i.fas,
a > i.far {
  color: black;
}

a > i.fa-trash {
  color: red;
}

th.table-cell--shrink,
td.table-cell--shrink {
  white-space: nowrap;
  width: 1%;
}

body#login {
  background-image: url("https://timvandijck.com/assets/img/station.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

body#login form {
  padding: 2rem;
  width: 100%;
  max-width: 450px;
  background-color: #fff;
  height: 100%;
}

.navbar {
  background-color: #438c41;
}

.navbar li.active,
.navbar li:hover,
.navbar li:focus,
.navbar li:active {
  background-color: #295229;
  margin: -8px 0;
  padding: 8px 0;
}

.navbar a {
  color: #fff;
}

