.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.btn-green {
  background-color: $green;
  border-color: $green;
  color: #fff;
}

a>i {
  &.fas, &.far {
    color: black;
  }
  &.fa-trash {
    color: red;
  }
}